<div class="hs-wrap">
    <table class="hs-table">
        <thead>
            <tr>
                <th>PERINGKAT</th>
                <th>LOKASI</th>
                <th>KATEGORI DOMINAN</th>
                <th>STATUS HOTSPOT</th>
                <th class="num">LAPORAN</th>
                <th class="num">SKOR KEPADATAN</th>
                <th class="num">PORSI PLASTIK</th>
                <th class="num">INDEKS</th>
                <th>LAPORAN TERAKHIR</th>
            </tr>
        </thead>
        <tbody>{{baris}}</tbody>
    </table>
</div>
