<div class="zone-card" style="border-left-color:{{warna}};">
    {{tanda}}
    <h3 style="color:{{warna}};">{{zone_id}} {{lokasi}}</h3>
    <div style="color:#8892b0; font-size:0.85rem;">PRIORITAS {{prioritas}} &middot; skor {{skor}}</div>
    <div class="meta">
        <div><b>KOORDINAT</b>{{koordinat}}</div>
        <div><b>LAPORAN</b>{{laporan}}</div>
        <div><b>7 HARI TERAKHIR</b>{{tujuh_hari}}</div>
        <div><b>DOMINAN</b>{{dominan}}</div>
    </div>
    <p style="margin:10px 0 0 0; font-size:0.9rem;"><b>Rekomendasi:</b> {{rekomendasi}}</p>
    <p class="source-note">Objek sensitif terdekat: {{sensitif}}</p>
</div>
